.quiz{
  display: flex;
  flex-direction: column;
  align-items: center;
  .username{
    border: 1px solid white;
    padding: 5px 10px;
    font-size: 25px;
    background-color: white;
    color: black;
  }
  .quiz-info{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 10px;
    align-items: center;
    flex-wrap: wrap;
  }
}