@import "../../styles/variables";
@import "../../styles/main";

.quiz{
  @extend .flexBox;
  flex-direction: column;
  .username{
    border: 1px solid white;
    padding: 5px 10px;
    font-size: 25px;
    background-color: white;
    color: black;
  }
  .quiz-info{
    @extend .flexBox;
    justify-content: space-between;
    width: 95%;
    margin: 10px;
  }
}