@import "../../styles/main.scss";

.result{
  @extend .flexBox;
  flex-direction: column;
  height: 60vh;
  & span{
    font-size: 30px;
  }
  & div{
    text-transform: uppercase;
    font-size: 8vw;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
  }

  & button{
    background-color: #3f51b5;
  }
}