@import "../../styles/variables";
@import "../../styles/main";

.header{
  @extend .flexBox;
  flex-direction: column;
  justify-content: center;
  & a{
    color: $whiteColor;
    font-size: 40px;
    cursor: pointer;
  }
  & hr{
    color: $whiteColor;
    width: 100%;
    margin: 10px;
  }
}